.dark{
  width: 80%;
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.light{
  width: 80%;
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dark> div {
  width: 225px;
  height: 200px;
  border-radius: 10px;
  background-color: hsla(228, 28%, 20%,1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center!important;
  margin-top: 20px;
}
.light >div{
  width: 225px;
  height: 200px;
  border-radius: 10px;
  background-color: hsl(230, 22%, 74%)!important;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center!important;
  margin-top: 20px;
}
 .facebook{
  border-top:10px solid blue;
  padding-top: 5px;
}
 .twitter{
  border-top:10px solid aqua;
  padding-top: 5px;
}
.instagram{
  border-top:10px solid #bc1888;
  padding-top: 5px;
}
 .youtube{
  border-top:10px solid red;
  padding-top: 5px;
}
.dark div div{
  width: auto;
}
.light  div div{
  width: auto;
}
.icon{
  margin-right:5px;
}
.dark div div:nth-child(1){
  color:hsl(228, 34%, 66%);
  display: flex;
}
.light div div:nth-child(1){
  color:hsl(228, 34%, 66%);
  display: flex;
}
.dark div div:nth-child(2){
  font-size: 42px;
}
.light div div:nth-child(2){
  font-size: 42px;
}
.dark div div:nth-child(3){
  font-size: 22px;
  font-weight:100!important;
}
.light div div:nth-child(3){
  font-size: 22px;
  font-weight:100!important;
}