.main{
  min-height: 200px;
  width: 80%;
  margin-top: 30px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.box{
  width: 200px;
  height: 130px;
  background-color: hsla(228, 28%, 20%,1);
  border-radius: 10px;
}